@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f6f6f5;
  text-align: center;
  font-family: arial;
}

.background-color {
  margin: auto;
  width: 600px;
  background: white;
  border-left: solid 3px #f0f0f0;
  border-right: solid 3px #f0f0f0;
}

.empty {
  height: 80px;
}

header {
  margin: auto;
  line-height: 50px;
  background: #f66a6b;
  color: #f66a6b;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 8px 1px #ccc;
  font-size: 1.3em;
}

header img {
  padding-top: 15px;
  padding-left: 10px;
  box-sizing: border-box;
  visibility: hidden;
}

header-scroll {
  color: white;
}

.main-title {
  color: #333333;
  width: 550px;
  margin: auto;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.sommaire {
  position: fixed;
  box-sizing: border-box;
  margin-top: 85px;
  margin-right: 40px;
  margin-left: 77%;
  width: 250px;
  height: auto;
  background: white;
  border-radius: 5px;
  border: solid 3px #f0f0f0;
}

.sections {
  line-height: 40px;
  margin: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  background: #E0E0E0;
  color: #59626a;
  cursor: pointer;
}

.bio {
  position: fixed;
  box-sizing: border-box;
  margin-top: 85px;
  margin-left: 40px;
  width: 250px;
  height: 300px;
  background: white;
  border-radius: 5px;
  border: solid 3px #f0f0f0;
}

.bio img {
  width: 40%;
  border-radius: 2px;
  float: left;
}

.bio h4 {
  padding-top: 12px;
  padding-bottom: 11.2px;
  margin-bottom: 8px;
  font-size: 1.7em;
  color: white;
  background: #f66a6b;
  border-bottom: solid 3px #3085b5;
}

.bio p {
  font-size: 0.85em;
  padding-left: 3px;
  padding-right: 3px;
}

.bio #skills {
  font-size: 0.7em;
  padding: 10px 3px 0px 3px;
  color: #0079c1;
}

.bio h5 {
  float: left;
  padding-left: 10px;
  padding-top: 5px;
}

.bio #mail {
  padding-top: 23px;
  font-size: 0.8em;
}

.bio #links {
  padding-top: 10px;
}

.bio #links i {
  font-size: 30px;
  padding-right: 8px;
  padding-left: 8px;
  color: #333333;
}

.exercise {
  width: 350px;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
  border-top: solid 2px #f65a5b;
}

.subtitle-section {
  background: #f4f7f9;
  color: #59626a;
  margin: 50px 0px 20px 0px;
  padding: 10px 0px;
  border-bottom: solid 3px #3085b5;
}

h1 {
  padding-bottom: 5px;
}

h3 {
  margin: 0px 0px 10px 0px;
}

input {
  border: solid 2px gold;
  border-radius: 5px;
  height: 20px;
  text-align: center;
}

button {
  background: #0169a4;
  padding: 10px 20px;
  border: solid 1px #0169a4;
  border-radius: 10px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button#reseter {
  background: #FF9CA1;
  border-color: #FF9CA1;
}

button#elre1 {
  background: #F58C5B;
  border-color: #F58C5B;
  width: 150px;
  height: 60px;
}

button#elre2 {
  background: #8F6970;
  border-color: #8F6970;
  width: 150px;
  height: 60px;
}

button#elre3 {
  background: #1CA6AB;
  border-color: #1CA6AB;
  width: 150px;
  height: 60px;
}

button#elre4 {
  background: #5AD384;
  border-color: #5AD384;
  width: 150px;
  height: 60px;
}
