* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin-top: 60px;
  font-family: arial;
}

.exercise {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
  border-top: solid 2px #00334e;
}

h1 {
  padding-bottom: 5px;
}

h3 {
  margin: 0px 0px 10px 0px;
}

.main-title {
  border-bottom: solid 5px gold;
  width: 317px;
  margin: auto;
  margin-bottom: 20px;
}

button {
  background: #00a78e;
  padding: 10px 20px;
  border: solid 1px #00a78e;
  border-radius: 10px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
}
